img {
  max-width: 100%;
}

header {
  background-color: rgb(6, 19, 31);
}

main {
  background-color: rgb(29, 45, 60);
}

.playlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin: 20px;
  padding: 2px;
  text-align: center;
  color: whitesmoke;
  background-color: #112030;
}

.card,
.img {
  padding: 20px;
}
